<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="/index.html" title="in English" style="padding-left:5px;padding-right:0px;">Eng</a>
      </li>
      <li class="special">
        <a href="/ru/index.html" title="по-русски" style="padding-left:5px;padding-right:10px;">Rus</a>
      </li>
    </ul>
  </nav>
</header>
